body {
    width: 200%;
    max-width: 100%;
}

.bg--img {
    position: relative;
    width: 100;
    height: 100;
    background: url('./mobile-rect.png') center center no-repeat;
    background-size: cover;
}

.bg--img:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(to left, transparent 20%, #000000 90%);
    opacity: .6;
}


/* .bg--img {
    background-image: linear-gradient(to left black, black, url(./mobile-rec.png));
    /*
    background-image: radial-gradient(1000px 263.61% at 1200px 100.9%, rgba(60, 88, 160, 0) 0%, rgba(0, 0, 0, 1)), url('./Rectangle.png');*/


/* background-size: cover;
    height: 900px;
    width: 100%;
    background-position-x: -200px;
} */

.container {
    flex-wrap: wrap;
    position: absolute;
    left: 10%;
    top: 20px;
    height: 80%;
    width: 90%;
    max-height: 600px;
    max-height: 1000px;
}

.container__logo {
    float: left;
    order: -1;
    margin-right: 500px;
    width: 60px;
}

.container__date {
    float: left;
    margin-left: 0px;
    margin-right: 500px;
    width: 200px;
}

.container__header {
    float: left;
    width: 80%;
    max-width: 400px;
    margin-right: 100%;
    margin-top: 0px;
}

.container__place {
    float: left;
    margin-left: 0px;
    margin-right: 500px;
}

.container__remark {
    float: left;
    margin-left: 0px;
    margin-right: 500px;
    width: 220px;
    margin-top: 20px;
}

.button2 {
    position: unset;
    float: left;
    margin-right: 500px;
    margin: 0px;
}

.button1 {
    display: none;
}

footer {
    top: 800px;
}

footer h2 {
    margin: 50px 30px;
}

.footer__numbers {
    display: flex;
    flex-wrap: wrap;
    margin-right: 0px;
    margin-left: 0px;
    margin-bottom: 50px;
}

.countries {
    width: 50%;
    margin-left: 0px;
}

.cities {
    width: 50%;
}

.speakers {
    width: 50%;
}

.attendees {
    width: 50%;
    margin-right: 0px;
}